#qrcode {
  display: flex;
  position: relative;
  background: #e4f2f5;
  justify-content: center;
  padding: 1em;
  margin-top: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#qrcode svg {
  min-width: 100px;
  min-height: 100px;
}

#loading{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

#spinner{
  width: 30px;
  height: 30px;
  border: 5px solid #050303;
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s linear infinite;
  

}

@keyframe spin {
  to{
    transform: rotate(360deg);
  }
}
